.o_dashboard_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: blue;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border: none;
  margin-bottom: 0.5rem;
}
