/* .o_list_table thead tr th {
  text-align: center;
  overflow-wrap: break-word !important;
}

.o_list_renderer .o_list_table thead .o_list_number_th {
  text-align: center;
  text-overflow: ellipsis;
  overflow-wrap: break-word !important;
}  */

.o_list_renderer
  .o_list_table
  tbody
  tr
  td.o_list_number:not(.o_list_record_selector),
.o_list_renderer .o_list_table thead .o_list_number_th {
  text-align: center;
}

.text-bg-warning {
  background-color: blue !important;
  color: white !important;
}

.o_arrow_button[data-value="out_of_stock"] {
  background-color: salmon !important;
}

.o_arrow_button[data-value="low_stock"] {
  background: wheat !important;
}

.o_arrow_button[data-value="in_stock"] {
  background: lightgreen !important;
}

.o_list_table {
  text-align: center !important;
}
/* 
* {
  background-color: #1e1e2e;
} */
